<section id="section-2" class="section flex relative h-screen w-full bg-darkStone">
  <app-background />
  <div class="flex flex-col w-full items-center text-bone text-center mt-[70px] sm:mt-[80px] md:mt-[90px] lg:mt-[100px] xl:mt-[110px]">
    <h2 class=" font-raleway font-bold text-[30px] sm:text-[40px] md:text-[60px] lg:text-[70px] xl:text-[90px]">
      Mexicesta
    </h2>
    <p class="max-w-xs sm:max-w-md font-raleway text-[15px] sm:text-[16px] md:text-18px] lg:text-[20px] xl:text-[22px]">
      Mexicesta: The app that turns shopping chaos into child's play.
    </p>
  </div>
</section>
