<section id="demo" class="section relative w-full bg-darkStone text-bone pt-4 md:pt-24 flex flex-col md:flex-row items-center gap-16">
  <app-background />
  <div class="text-center text-bone mb-10">
    <h2 class="font-raleway font-bold text-[30px] sm:text-[40px] md:text-[60px] lg:text-[70px] xl:text-[90px]">
      Video Demo
    </h2>
    <p class="text-bone/80">
      Watch a quick walkthrough of the app in action.
    </p>
  </div>

  <div class="w-full max-w-5xl aspect-video bg-bone bg-opacity-5  rounded-xl overflow-hidden shadow-lg">
    <video
      class="w-full h-full rounded-xl"
      src="images/video_demo.mp4"
      autoplay
      muted
      loop
      playsinline
      controls
    ></video>
  </div>
</section>
