<section id="section-1" class="section flex relative h-screen w-full bg-darkStone">
  <div class="justify-center items-center overflow-hidden">
    <div class="absolute w-80 h-80 rounded-full bg-blood opacity-30 blur-3xl animate-moveBlobRed"></div>

    <div class="absolute w-80 h-80 rounded-full bg-egg opacity-30 blur-3xl animate-moveBlobYellow"></div>

    <div class="absolute w-80 h-80 rounded-full bg-grass opacity-30 blur-3xl animate-moveBlobGreen"></div>
  </div>

  <div class="w-full flex flex-col text-bone justify-center items-center text-center">
    <h1 class="font-raleway font-bold text-[50px] sm:text-[70px] md:text-[80px] lg:text-[120px] xl:text-[150px]">
      Mexicesta
    </h1>
    <p class="max-w-xs sm:max-w-md font-raleway text-[17px] sm:text-[18px] md:text-[20px] lg:text-[20px] xl:text-[22px]">
      Mexicesta: The app that turns shopping chaos into child's play.
    </p>
  </div>
</section>
